:root {
  --alice-blue: rgb(240, 248, 255);
  --light-blue: rgb(153, 196, 210);
  --mid-blue: rgb(63, 109, 181);
  --dark-blue: rgb(13, 69, 131);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, rgb(240, 248, 255) 0%, white 100%);
}

/*General Properties*/
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.text {
  color: var(--dark-blue);
  font-family: "Montserrat", sans-serif;
}
.marywilkes h1 {
  display: flex;
  color: var(--dark-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-weight: 400;
}
.mary-content {
  font-size: 16px;
  padding: 20px 250px 20px 250px;
  font-family: "Montserrat", sans-serif;
  flex-flow: wrap;
  position: relative;
  color: var(--dark-blue);
}
.mary-main {
  text-align: center;
  padding: 30px;
  border-radius: 50px;
}
.mary-main img {
  border-radius: 10px;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}
.mary-content h2 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}
.mary-content p {
  padding-top: 20px;
  text-align: left;
}
.mary-main p {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
}
.mary-main .mary-video {
  border-radius: 10px;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  max-width: 100%;
}
.mary-main .reference {
  text-align: center;
}

/* Nav Bar Section */

#mobile-nav {
  display: none;
}

.nav-bar {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: var(--dark-blue);
}
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  list-style: none;
  height: 10vh;
  background-color: rgb(100, 100, 100, 0.2);
}

#name {
  color: var(--alice-blue);
  font-family: sans-serif;
  font-size: 2rem;
}

.nav-link {
  display: block;
  color: var(--alice-blue);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5rem;
}

/* Nav Bar Section END */

footer {
  background: var(--dark-blue);
  color: var(--alice-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.cfg-link {
  color: var(--alice-blue);
}

/*Footer END*/

/*MOBILE VIEW*/
@media (max-width: 1048px) {
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
  }

  /*Mobile Nav Bar*/

  #nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
  }

  .mobile-nav-bar {
    position: relative;
    width: 100vw;
    background-color: var(--dark-blue);
  }
  .mobile-nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;
    height: 10vh;
  }

  #mob-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
    color: var(--light-blue);
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
  }

  .mob-nav-link {
    display: block;
    color: var(--alice-blue);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  /*Mobile Nav Bar END*/
  /*Media for Mary Wilkes*/

  .marywilkes h1 {
    max-width: 100%;
    display: flex;
    position: relative;
  }
  .mary-content {
    max-width: 100%;
    height: auto;
    padding: 0;
    max-width: 90%;
    margin: 10%;
  }
  .mary-main img {
    max-width: 100%;
  }
}

@media (max-width: 1048px) {
}
